@import '~antd/dist/antd.less';
@import './reset';
@import './var';
@import './utils';
body {
	background-color: @main-background;
	color: @main-color;
	font-family: 'nunitoregular';
}
#root {
	min-height: 100%;
}
.ant-layout {
	.bg-transparent;
}
.ant-layout-sider {
	background-color: @sider-background;
}
