@import './reset';
@import './var';
@import './utils';
body {
	font-size: 18px;
}
.logo {
	color: #665AE9;
	cursor: default;
	user-select: none;
}
.ant-layout {
	.bg-transparent;
}
.ant-menu-item-group:not(:first-child) {
	.mt-3;
}
.ant-menu-item-group-title {
	.uppercase;
	.bold;
	font-size: 10px !important;
}
.ant-menu-item {
	.capitalize;
	.px-3;
	.my-0;
	.mx-3;
}
.ant-menu-item .anticon{
	font-size: 22px;
}
.ant-menu {
	.border-0;
}
.ant-menu-item-selected {
	border-left: 4px solid #665AE9;
	.pl-4;
}
.ant-input {
	.border-0;
	box-shadow: 0 0 15px rgba(0, 0, 0, .05);
}
.ant-input:focus {
	.border-0;
	box-shadow: 0 5px 20px rgba(0, 0, 0, .05) !important;
}

.ant-btn-danger {
	background-color: #ff5e6c !important;
	color: white !important;
}
.ant-badge-count {
	box-shadow: 0 0 0 3px @main-background !important;
}